* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 90vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;

	.bi-play-btn,
	.bi-search {
		color: white;
		margin: 1rem;
	}

	p {
		display: inline;
		color: white;
		margin: 1rem;
	}
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	.userid {
		margin: 0 0 0.5rem 1rem;
	}
	.caption-text {
		max-width: 80%;
		margin: 0 0 1rem 1rem;
	}
}
.footer-button {
	text-align: center;
	margin-top: 1rem;
}


/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	flex-direction: column;
	align-items:center;
	color: white;

}

.side-item {
	/* color: white; */
	padding: 0.5rem;
}

#buttons {
	height: 10vh;
	background-color: black;
	display: flex;
	justify-content: space-evenly;
	align-items:center;
	align-items: first baseline;
	i {
		display: block;
	}
}
.bi {
		font-size: 150%;
}
.inactive {
	opacity: 0.5;
}
.active {
	opacity: 1;
}
/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

.debug {
	border: 2px dashed #fff
}

/* --------------------- */
/* bonus */
.bi-plus-circle-fill {
 color: red;
 position: absolute; 
 translate: -36px 33px;
}
.circle-followed {
	color: red;
	position: absolute;
	font-size: 50%;
	translate: -19px -4px;
}
.circle-mail {
	color: red;
	position: absolute;
	font-size: 150%;
	translate: 50px -40px;
}
.number-mail {
	color: white;
	position: absolute;
	font-size: 80%;
	translate: 55px -35px;
}